<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">HOME</a>
    <a href="/pokemon">Pokemon List</a>
    <h1>{{pokemons.name}}</h1>
    <img src={{pokemons.img}} alt="" width="500" height="500">
    <p>Types: {{pokemons.type1}}, {{pokemons.type2}}</p>
    <p>Hitpoints: {{pokemons.hitpoints}}</p>
    <p>Attack: {{pokemons.attack}}</p>
    <p>Defense: {{pokemons.defense}}</p>
    <p>Speed: {{pokemons.speed}}</p>
    <p>Legendary: {{pokemons.legendary}}</p>
</body>
</html>