<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
   
  
<h2> Welcome to pokemon world </h2>


<a href="/"> 
    
    <h2> Back to the Homepage </h2> 

</a>

{{#pokemon_id}}



<br>
 <img src=" {{img}} " alt="">
</br>

{{name}}

{{/pokemon_id}}


<a href="/"> 
    
    <h2> Back to the Homepage </h2> 

</a>
</body>
</html>