
header{

    
}
 div{

    size: 200px;
 }

body{

 
    text-align: center;
    background-color: lightgoldenrodyellow;




}


img{

    size: 200px;
    border: solid darkkhaki;
    background-color: azure;
}

li{

    
}


h2{

    text-align: center;
}